@import "base";

@include global-reset;
@include establish-baseline;

html, body {
  height: 100%;
  width: 100%;

  background-color: $color-white;
}

#main-page {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));

  @include container($page-width);
  max-height: 750px;
  min-width: 750px;
  
  color: $color-black;
  border: 4px solid $color-black;
  @include border-radius(3px);

  header {
    position: relative;
    z-index: 100;

    width: 220px;
    height: 135px;

    @include adjust-font-size-to(1.3em);
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: small-caps;

    border-bottom: 4px solid $color-black;
    border-right: 4px solid $color-black;
    @include border-bottom-right-radius(3px);
  }

  h1:before {
    display: block;
    padding-left: 2px;

    font-size: .4em;
    line-height: 1em;
    text-align: left;
    
    content: 'Imię i nazwisko ';
  }

  h1 {
    padding-bottom: .3em;
    
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;

    border-bottom: 4px solid $color-black;
  }

  li {
    @include span(4 of 7 wider);
    display: inline-block;

    line-height: 1.9em;

    border-right: 4px solid $color-black;
  }

  li:first-child {
    margin-top: -1.5px;

    border-bottom: 3px solid $color-black;
  }

  li:hover {
    background-color: $color-black;
  }

  a {
    display: block;
    padding-left: 5px;

    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

    color: $color-black;
  }

  li:hover a {
    color: $color-white;
  }

  h2:before {
    display: block;
    margin-bottom: -3px;
    margin-left: -2px;

    font-size: .4em;
    line-height: 1em;
    text-align: left;

    content: 'Semestr ';
  }

  h2 {
    @include span(3 of 7 omega narrow);
    padding-right: .2em;
    
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
  }

  a:after {
    content: ' >';
  }

  svg {
    z-index: -100;

    margin-top: -20%;
    margin-left: 10%;
    width: 80%;

    fill:#ffffff;
    fill-opacity:1;
    stroke:#2d2c2b;
    stroke-width:3;
    stroke-opacity:1;
    stroke-miterlimit:4;
    stroke-dasharray:none;
    stroke-linecap:round;
    stroke-linejoin:round;
  }

  .transparent {
    fill: none;
  }

  .filled {
    fill:#2d2c2b;
    stroke:none;
  }

  .winder {
    fill:none;
    stroke-width:1px;
  }

  .laser-on_label {
    fill:#00a784;
    stroke:none;
  }

  .laser-off_label {
    fill:#d71e38;
    stroke:none;
  }

  .laser_beam {
    fill:none;
    stroke:#00b4ff;
    stroke-width:5;
  }
  
  .screws {
    stroke-width:2;
  }

  .semi-transparent_mirror {
    fill:#2d2c2b;
  }

  #monitor-first_mode_light {
    fill:#8e7d32;
  }

  #monitor-second_mode_light {
    fill:#ffed00;
  }

  #monitor-power_light {
    fill:#a6d920;
  }

  .power_symbol {
     stroke:#706e6c;
     stroke-width:2;
  }

  #plot {
    fill:none;
    stroke:#e3007d;
  }

  .sample {
    fill:#cce2f4;
  }

  .frames {
    fill:none;
    stroke:#c9c8c7;
    stroke-width:2;
    stroke-dashoffset:5;
  }

  .frame_border {
    stroke-dasharray:12,4;
  }

  .frame_label {
    stroke-dasharray:none;
  }

  .frame_label_name {
    fill:#c9c8c7;
    fill-opacity:1;
    stroke:none;
  }
}
