@import "base";

@include global-reset;
@include establish-baseline;

html, body {
  height: 100%;
  width: 100%;

  background-color: $color-white;
}

#main-page {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));

  @include container($page-width);
  max-height: 750px;
  min-width: 750px;
  
  color: $color-black;
  border: 4px solid $color-black;
  @include border-radius(3px);

  header {
    position: relative;
    z-index: 100;

    width: 220px;
    height: 135px;

    @include adjust-font-size-to(1.3em);
    font-family: 'Open Sans Condensed', sans-serif;
    font-variant: small-caps;

    border-bottom: 4px solid $color-black;
    border-right: 4px solid $color-black;
    @include border-bottom-right-radius(3px);
  }

  h1:before {
    display: block;
    padding-left: 2px;

    font-size: .4em;
    line-height: 1em;
    text-align: left;
    
    content: 'Imię i nazwisko ';
  }

  h1 {
    padding-bottom: .3em;
    
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;

    border-bottom: 4px solid $color-black;
  }

  li {
    @include span(4 of 7 wider);
    display: inline-block;

    line-height: 1.9em;

    border-right: 4px solid $color-black;
  }

  li:first-child {
    margin-top: -1.5px;

    border-bottom: 3px solid $color-black;
  }

  li:hover {
    background-color: $color-black;
  }

  a {
    display: block;
    padding-left: 5px;

    text-decoration: none;
    font-family: 'Open Sans', sans-serif;

    color: $color-black;
  }

  li:hover a {
    color: $color-white;
  }

  h2:before {
    display: block;
    margin-bottom: -3px;
    margin-left: -2px;

    font-size: .4em;
    line-height: 1em;
    text-align: left;

    content: 'Semestr ';
  }

  h2 {
    @include span(3 of 7 omega narrow);
    padding-right: .2em;
    
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
  }

  a:after {
    content: ' >';
  }

  svg {
    z-index: -100;
    margin-top: -180px;
  }
}
