<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>{{ page.title }}{% unless page.url == '/index.html' %} | Mateusz Dyksik{% endunless %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/default.css">
    <script>document.write('<style>.frames {opacity: 0;}</style>');</script>
  </head>
  <body>
    {{ content }}
  </body>
</html>
